
 <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: white">BYJU'S JOB PORTAL</a>
      </div>
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li  routerLink="/jobsearch"><a><span class="glyphicon glyphicon-search" ></span> Search Jobs</a></li>
        <li routerLink="/joblist"><a><span class="glyphicon glyphicon-eye-open"></span> View Jobs</a></li>
      </ul>
    </div>
  </nav>
 <router-outlet></router-outlet>
